*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


body{
    background: rgb(184, 8, 8);
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 20px;
    font-weight: bold;
    color: rgb(152, 233, 3);
}

#input{
    padding: 15px;
    width: 20%;
    border: none;
    border-bottom: 1px solid rgb(152, 233, 3);
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#btn{
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
    border-radius: 5px;
}

#btn:focus{
    color: black;
}
ol, ul, li{
    list-style: none;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-top: 50px;
    margin-bottom: 50px;
}

.form-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 70px;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    width: 250px;
    height: 100px;
    padding: 10px;
}

#foot, #bicycle, #car, #plane, p{
    color: rgb(175, 174, 174);
    font-size: 18px;
    font-weight: bold;
}

.text{
    color: rgb(156, 146, 146);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}